<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Book:</strong>
    <%= order_detail.book.title %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_detail.quantity %>
  </p>
</div>
