<div id="<%= dom_id order %>">
  <p>
    <strong>ID:</strong>
    <%= order.id %>
  </p>
  <p>
    <strong>User:</strong>
    <%= order.user.name %>
  </p>
  
  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

</div>
