<h1>Checkout</h1>
<br>
<h4>Cart</h4>
<div id="order_details">
  <% @order_details.each do |order_detail| %>
    <%= render "order_item", order_detail:order_detail %>
  <% end %>
</div>
<h4>Total</h4>
<div>
  <p>Order Total: <%= @total_price%>$</p>
  <p>Total Payment: <%= @price%>$</p>
  <p>--> But it's free today!!!</p>
</div>
