<h1>Posts</h1>
<%= button_tag 'New post', "data-bs-target"=>"#modalAdd", type: 'reset', class:"btn btn-sm btn-success", "data-bs-toggle"=>"modal" %>
<%= render 'posts/modalAdd'%>
<%= render 'tablePosts' %>