<p style="color: green"><%= notice %></p>

<h1>User details</h1>

<div id="user_details">
  <% @user_details.each do |user_detail| %>
    <%= render user_detail %>
    <p>
      <%= link_to "Show this user detail", user_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New user detail", new_user_detail_path %>
