  <div class="container">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link <%current_page?(root_path) ? 'active' : ''%>" aria-current="page" href="<%= root_path %>">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= posts_path %>">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= categories_path %>">Categories</a>
  </li>
</ul>
<hr class="bg-primary border-2 border-top border-primary">
<p> <%#= current_page?(root_path) %></p>